<h4>Object</h4>

<form [formGroup]="studentForm" (submit)="onAdd()">
    <input type="text" formControlName="id" placeholder="id-num">
    <input type="text" formControlName="name" placeholder="name">
    <input type="text" formControlName="yearLevel" placeholder="year level">
    <input type="text" formControlName="course" placeholder="course">
    <button>submit</button>
</form>

<div class="member-list" *ngFor="let student of students">
    <h1>Student details:</h1>
    <h3>Id No.: {{student.id}}</h3>
    <h3>Name: {{student.name}}</h3>
    <h3>Year level: {{student.yearLevel}}</h3>
    <h3>Course: {{student.course}}</h3>

    <button (click)="onDelete(student)">delete</button>
</div>