
ul{
    list-style-type: none;
  
    .task-item{
        border: 1px solid black;
        margin: 3px;
        padding: 3px;
        width: 60%;
    }
}
.deleteBtn{
    float: right;
    margin: auto;
    font-size: 10px;
}