<h4>form Validation</h4>
<form [formGroup]="loginForm" (submit)="getData()">

    <input type="email" formControlName="email" placeholder="email">

    <h5 style="color: red;" *ngIf="!email.valid && (email.touched || email.dirty)">username is
        required</h5>

    <br>
    <input type="password" formControlName="password" placeholder="password">
    <br>
    <h5 style="color: red;" *ngIf="password.invalid && password.touched">password is
        required</h5>

    <button>login</button>
</form>

<h4 [style.color]="textColor">{{message}}</h4>