<h4>form Validation</h4>
<form #simpleForm="ngForm" [formGroup]="loginForm" (submit)="getData(simpleForm.value)">

    <input type="email" ngModel formControlName="email" placeholder="email">

    <h5 style="color: red;" *ngIf="loginForm.get('email')?.invalid && loginForm.get('email')?.touched">username is
        required</h5>

    <br>
    <input type="password" ngModel formControlName="password" placeholder="password">
    <br>
    <button>login</button>
</form>

<h4 [style.color]="textColor">{{message}}</h4>